@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

// body {
//   background-attachment: fixed;
//   background-image: url('./images/wheel.png');
//   background-size: cover;
//   height: 100%;
//   width: 100%;
// }

.size16 {
  font-size: 16px;
}

.size32 {
  font-size: 32px;
}

a {
  color: #000;
  font-family: 'GFS Didot';
  font-size: 20px;

}

.entries-title {
  font-family: 'GFS Didot';
  font-size: 32px;
}

.entry {
  display: flex;
  font-family: 'Handlee', cursive;
  font-size: 20px;

}

.entry-date {
  display: flex;
  font-family: 'Handlee', cursive;
  font-size: 20px;
}

.entry-title {
  display: flex;
  font-family: 'Handlee', cursive;
  font-size: 28px;
  font-weight: bold;
}

.entry-update {

}

.gfs-didot {
  font-family: 'GFS Didot';
}

.h {
  font-size: 32px;
}

.landing-page {
  display: block;
  font-family: 'GFS Didot';
  font-size: 25px;
  margin-top: 5vh;
  padding-left: 10px;
}

.navbar {
  background-color: #fc0352 !important;
  color: #F29191;
  font-family: 'GFS Didot';
  font-size: 20px;
  height: 5em;
  justify-content: center;
}

.navtitle {
  font-size: 50px;
  justify-content: center;
  text-align: center;
}

.row {
  // border: 1px solid black;
}

.title {
  display: flex;
  justify-content: center;
}
