@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

$body-background: #f5f5f5;
$heading-background: #dccafc;
$hand-writing: 'Handlee', cursive;
$font-gray: #7a7876;

.alertContainer {
  bottom: 10rem;
  left: 0;
  margin: auto;
  max-width: 30rem;
  position: fixed;
  right: 0;
  z-index: 10000;
}

body {
  background: $body-background;
  color: $font-gray;
  margin: 0;
}

.size16 {
  font-size: 16px;
}

.size32 {
  font-size: 32px;
}

a {
  color: $font-gray;
  font-family: 'GFS Didot';
  font-size: 20px;

}

#date-font {
  color: $font-gray;
  font-family: $hand-writing;
  font-size: 18px;
}

.entries-title {
  font-family: 'GFS Didot';
  font-size: 32px;
}

.entry {
  display: flex;
  font-family: $hand-writing;
  font-size: 20px;
  line-height: 2em;
  padding-top: 5vh;
  margin: 0 auto;

  &:focus {
    border: 0 !important;
  }
}

.entry-button {
  display: flex;
  float: right;
  font-family: 'GFS Didot';
  font-size: 20px;
  margin: 12px;
}

.entry-date {
  display: flex;
  font-family: 'Handlee', cursive;
  font-size: 20px;
}

.entry-form {
  padding-top: 5vh;
}

.gfs-didot {
  font-family: 'GFS Didot';
}

.h {
  font-size: 32px;
  text-align: center;
}

.h2 {
  font-size: 26px;
  text-align: center;
}

.landing-page {
  display: block;
  font-family: 'GFS Didot';
  font-size: 25px;
  // margin-top: 5vh;
  // padding-left: 10px;
  // margin-left: 20vw;
}

.image {
  width: 100%;
}

.second-view {
  background-image: url('https://i.imgur.com/oGQt9UG.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.sideNav {
  margin-top: 5vh;
}

.ml-auto {
  color: $font-gray;
}

.navbar {
  background-color: $heading-background !important;
  font-family: 'GFS Didot';
  font-size: 20px;
}

.navsub {
  font-family: 'GFS Didot';
  font-size: 24px;
  margin-top: -35px;
  padding-left: 1em;
}

.navtitle {
  font-family: $hand-writing;
  font-size: 60px;
  justify-content: center;
  text-align: center;
}

textarea {
  border: 1px solid #EEEEEE;
  box-shadow: 1px 1px 0 #DDDDDD;
  display: block;
  font-family: $hand-writing;
  font-size: 22px;
  line-height: 30px;
  margin: 2rem auto;
  padding: 11px 2rem 0 2rem;
  resize: none;
  height: 80vh;
  width: 95%;
  background-image:
    linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
    linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
  background-size: 100% 50px;

  &:focus {
    outline: none !important;
  }

  &:hover {
    border: 0 !important;
  }
}

p {
  font-family: 'GFS Didot';
  font-size: 18px;
}

.subheading {
  font-size: 12px;
}

.textbox {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #7a7876;
  outline: 0;
  font-family: 'Handlee', cursive;
  font-size: 20px;
  width: 20%;
  .t1 {
    background: transparent;
    border: 0;
    font-size: 20px;
  }
}

.title {
  display: flex;
  justify-content: center;
}

// .leftSpace {
//   margin-left: 240;
// }
